.carousel {
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    .assets-container{
        flex: 1;
        overflow: hidden;
        height: 20vh;
    }
    &-assets{
        min-height: 20vh;
        width: 100%;
        transition: 2s;
        transform: scale(1);
        &:hover{
          transform: scale(1.1);
        }
    }
}