@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@100&display=swap");

.search{
    margin-bottom: 10%;
    background-color: black;
    color: whitesmoke;
    border: none;
    border-bottom: solid thin white;
    float: right;
    
}

.search:focus{
    outline: none;
}

.posts {
    clear: right;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 2rem;
    margin-bottom: 5rem;
    animation: 1s infinite;
    animation-name: flashes;
}

.post {
    margin: 1rem 0;
    a {
        background: mediumseagreen;
        border-radius: 1rem;
        color: whitesmoke;
        display: flex;
        text-decoration: none;
        height: 200px;
        width: 100%;
        transition: 1s;
        transition-timing-function: ease-in-out;
        

        .textContainer {
            z-index: 1;
            transition: 1s;
            background-color: black;
            flex: 1;
            h2 {
                text-align: left;
                margin: 1rem;
                font-size: 1rem;
            }

            p {
                color: #777777;
                font-size: 0.8rem;
                margin: 1rem;
                font-family: "Piazzolla", serif;
            }
        }
        .imgContainer {
            flex: 2;
            overflow: hidden;
            height: 100%;
            img {
                transition: 1s;
                transition-timing-function: ease-in-out;
                filter: invert(0%);
            }
        }
    }
}

@media screen and (min-width: 700px) {
    .post:hover{
        .textContainer {
            transform: translate(15%);
            z-index: 1;
        }
        .imgContainer {
            img {
                transition: 1s;
                transition-timing-function: ease-in-out;
                filter: invert(70%);
                transform: scale(1.2);
            }
        }
    }
}


@media screen and (max-width: 700px) {
    .title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .post {
        a {
            flex-direction: column;
            .textContainer {
                animation: 5s ease infinite;
                animation-name: pulse;
            }
        }
        &:hover {
            .textContainer {
                transform: translate(0%);
                z-index: 1;
            }
            .imgContainer {
                img {
                    transition: 1s;
                    transition-timing-function: ease-in-out;
                    filter: invert(0%);
                }
            }
        }
    }
    @keyframes pulse {
        75% {
            transform: translateY(15%);
        }
    }
}
