.header{
    padding: 1rem 0 3rem;

}

.title{
    color: whitesmoke;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #E2E2E2;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover{
    color: #BABABA;
}

.active-nav-item{
    color: #A5A5A5;
}


